@{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
    #result {
        margin: 20px;
        padding: 20px;
        border-radius: 30px;
    }

    .uncopied {
        color: black;
        background-color: beige;
    }

    .copied {
        color: ghostwhite;
        background-color: seagreen;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Bem-vindo(a)!</h1>
    <p>Este aplicativo consiste em expandir um número inteiro fornecido por você, por extenso, em língua portuguesa.
        <br/>
       Digite o número e, quando o texto por extenso estiver do seu agrado, clique nele, que ele será copiado para sua área de transferência.</p>
    <form method="post">
        <label for="number">Digite o número:</label>
        <input type="text" id="number" name="number" inputmode="numeric" pattern="\d+" maxlength="15" onkeyup="porextenso(this.value)" />
    </form>
    <div id="result" onclick="copy()"></div>
</div>

@section Scripts 
{
<script type="text/javascript">
    $(function () {
        $("#number").focus();
    });

    function porextenso(number) {
        $.ajax({
            "data": { "number": number },
            "dataType": "json",
            "error": function (xhr, status, error) {
                $("#result").text("---> erro <---");
                alert("Aconteceu um problema: [" + error + "]. Clique em OK e tente novamente mais tarde.");
            },
            "method": "post",
            "success": function (result) {
                $("#result").text(result);
                $("#result").addClass("uncopied");
            }
        });
    }

    function copy() {
        navigator.clipboard.writeText($("#result").text());

        $("#result").removeClass("uncopied").addClass("copied");
        setTimeout(function () {
            $("#result").removeClass("copied").addClass("uncopied");
        }, 300);
    }
</script>
}
