@{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
    #number {
        width: 29%;
    }

    #result {
        margin: 20px;
        padding: 20px;
        border-radius: 30px;
    }

    .uncopied {
        color: black;
        background-color: beige;
    }

    .copied {
        color: ghostwhite;
        background-color: seagreen;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Bem-vindo(a)!</h1>
    <p>Números por extenso! Digite o número e clique no texto por extenso, que ele será copiado para sua área de transferência.</p>
    <form method="post" class="form">
        <label for="number" class="form-label">Número:</label>
        <input type="number" id="number" name="number" />
        <input type="reset" value="Limpa" class="btn btn-danger btn-sm" />
        <input type="button" value="Cola" onclick="paste()" class="btn btn-info btn-sm" />
    </form>
    <div id="result" onclick="copy()"></div>
</div>

@section Scripts 
{
<script type="text/javascript">
    function porextenso(number) {
        $.ajax({
            "data": { "number": number },
            "dataType": "json",
            "error": function (xhr, status, error) {
                $("#result").text("---> erro! só aceito dígitos <---");
            },
            "method": "post",
            "success": function (result) {
                $("#result").text(result);
            }
        });
        $("#result").addClass("uncopied");
        $("#number").focus();
    }

    function copy() {
        navigator.clipboard.writeText($("#result").text());

        $("#result").removeClass("uncopied").addClass("copied");
        setTimeout(function () {
            $("#result").removeClass("copied").addClass("uncopied");
        }, 300);
    }

    function paste() {
        navigator.clipboard.readText().then((text) => {
            porextenso(text);
            $("#number").val(text).focus();
        });
    }

    $(function () {
        $("#number").focus();
        $("#number").on("input", function (event) {
            porextenso(this.value);
        });
    });
</script>
}
